
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Library Management</title>
  <style>
    body {
      background-image: url('/media/background/old-library-book.webp');
      background-size: cover;
    }
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      {% load static %}
      <img src="{% static 'images/lasustech.jpg' %}" alt="Your Logo">
      <style>
        img {
  max-width: 70px; /* Set the maximum width */
  margin: 10px; /* Adjust margin as needed */
}

      </style>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <!--------  li class="nav-item">
          <a class="nav-link" href="{% url 'admin_registration' %}">Admin Registration</a>
        </li>  ----->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'student_registration' %}">Student Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'staff_registration' %}">Staff Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
       </ul>
    </div>
    </div>
  </nav>
  
  <div id="content">
    <style>
      #content {
  max-height: 100vh; /* Adjust the maximum height as needed */
  overflow-y: auto;
}

    </style>
  {% block content %}
  {% endblock %}
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% include "core/footer.html" %}
</body>

</html>
