{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between"> <!-- Create a flexible container -->
              <button type="submit" class="btn btn-primary">Login</button>
              <a href="{% url 'index' %}" class="btn btn-primary">Back</a> <!-- Second button at the end -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
