{% extends 'core/base.html' %}

{% block content %}
<div class="container mt-3" style="max-height: 500px; overflow-y: auto;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Student Registration</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
